<!-- Sidebar -->
<ul class="sidebar navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="/AdminHome/IndexAdmin">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Gráficos</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="#">Usuarios</a>
            <a class="dropdown-item" href="#">Publicaciones</a>
            <a class="dropdown-item" href="#">Categorias</a>
            <a class="dropdown-item" href="#">Comentarios</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-table"></i>
            <span>Tablas</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="AdminUsuarios/Index">Usuarios</a>
            <a class="dropdown-item" href="/AdminPublicaciones/Index">Publicaciones</a>
            <a class="dropdown-item" href="/AdminCategorias/Index">Categorias</a>
            <a class="dropdown-item" href="/AdminComentarios/Index">Comentarios</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Reportes</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="#">Top 10 Reseñas</a>
            <a class="dropdown-item" href="#">Top Comentarios</a>
        </div>
    </li>
</ul>
