@*Barra de navegacion de la parte superior de la página*@
<nav class="navbar navbar-expand-lg navbar-dark">
    <a href="/Home/Index" class="navbar-brand"><b>TODO</b>escrito</a>
    <button class="navbar-toggler" type="button" data-target="#navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="/Home/IndexBefore" class="nav-link">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navdrop" role="button" data-toggle="dropdown" data-hover="dropdown">Categorías</a>
                <div class="dropdown-menu" aria-labelledby="navdrop">
                    <a href="#" class="dropdown-item">Autoayuda</a>
                    <a href="#" class="dropdown-item">Ciencia Ficción</a>
                    <a href="#" class="dropdown-item">Infantiles</a>
                    <a href="#" class="dropdown-item">Novelas Románticas</a>
                    <a href="#" class="dropdown-item">Poesías</a>
                </div>
            </li>
            <li class="nav-item">
                <a href="/Home/Contact" class="nav-link">Contacto</a>
            </li>
            <li class="nav-item">
                <a href="/Home/About" class="nav-link">Acerca de</a>
            </li>
        </ul>
    </div>
</nav>
