<!-- Navigation -->
<a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="js-scroll-trigger" href="#page-top"><b>TODO</b>escrito</a>
        </li>
        @*<li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#page-top">Home</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#about">Quienes somos</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#services">Services</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#contact">Contact</a>
        </li>*@

        @*Login y Register*@

        @using Microsoft.AspNet.Identity
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "sidebar-nav" }))
            {
                @Html.AntiForgeryToken()

                <br />
                <br />
                <br />
                <br />
                <li class="sidebar-nav-item">
                    @* Cambiar. Quiero que se muestre en la pantalla de inicio*@
                    @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li class="sidebar-nav-item">
                    <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
                </li>

            }
        }
        else
        {
            <hr />
            <li class="sidebar-nav-item">
                @Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </li>
            <hr />
            <li class="sidebar-nav-item">
                @Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
            </li>
            <hr />

        }
    </ul>
</nav>
